.profile {
    display: flex;
    align-items: center;
    gap: 12px;
}

.profile img col-3{
    border-radius: 50%;
    border-radius: 60px;
    max-width: 60px;
    max-height: 60px;
}

/* .profile-nama {
    font-family: poppins;
    font-size: 16px;
}

.profil-waktu {
    font-family: poppins;
    font-size: 14px;
} */

.deskripsi {
    rounded:4;
    background-color: linear-gradient(45deg, #FF2525, #FF2525, #FFA800);
}

.deskripsi p{
    font-family: poppins;
}