.popup.root {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    border-radius: 25px 25px 25px 25px;
  }
  .popup .kategori {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 47px 0px 128px 5.86%;
    width: 70.82%;
  }
  .popup .kategori_daerah {
    position: relative;
    display: flex;
    align-items: flex-end;
    width: 100%;
    font: 500 24px/1.5 "Poppins", Helvetica, Arial, serif;
    color: black;
  }
  .popup .tag {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 44px 0px;
    margin: 42px 0px 0px;
    width: 91.73%;
  }
  .popup .flex_row {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
  }
  .popup .text {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-width: 0px;
    font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
    color: black;
    text-align: center;
  }
  .popup .flex_row1 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 84.75%;
  }
  .popup .kategori_bahan {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin: 62px 0px 0px;
    width: 100%;
    font: 500 24px/1.5 "Poppins", Helvetica, Arial, serif;
    color: black;
  }
  .popup .tag1 {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 44px 0px;
    margin: 42px 0px 0px;
    width: 95.19%;
  }
  .popup .flex_row2 {
    position: relative;
    display: flex;
    justify-content: space-between;
    gap: 0px 10px;
    width: 344px;
  }
  .popup .tampilkan_button {
    position: absolute;
    bottom: 41px;
    left: 369px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 201px;
    height: 45px;
    font: 400 14px/1.5 "Poppins", Helvetica, Arial, serif;
    color: #f8f8f8;
    text-align: center;
    background: var(--src) center center/100% 100% no-repeat;
    border-radius: 22.5px 22.5px 22.5px 22.5px;
    padding: 12px 32px 12px 32px;
  }